.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 150px);
    width: 100%;
}

.content {
    width: 100%;
    max-width: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 24px;
    background-color: #e5e5e5;
    padding: 24px;
    border-radius: 4px;
    box-shadow: 0 4px 8px rgb(0, 0, 0, 0.2);
    
}

.content input {
    padding: 12px 48px;
    border: none;
    border-radius: 8px;
    font-weight: 600;
}

.content select {
    padding: 12px;
    border: none;
    background: #fff;
    color: #0f0f0f;
    font-weight: 600;
    border-radius: 8px;
}

.content textarea {
    border: none;
    border-radius: 8px;
    font-weight: 600;
    overflow: auto;
    height: 120px;
    padding: 8px;
}

.error {
    font-weight: 700;
    color: red;
}

.success {
    font-weight: 700;
    color: green;
}

.content button {
    padding: 12px 48px;
    margin: 0 auto;
    border: 0;
    background: #0E2E58;
    color: #fafafa;
    font-size: 16px;
    font-weight: 600;
    border-radius: 8px;
    transition: all .3s;
    cursor: pointer;
}

.content button:hover {
    background: #3A7AB2;
    transform: scale(1.02);
}